<template>
  <v-app id="docs">
    <v-overlay :value="loader">
          <v-progress-circular indeterminate color="white"></v-progress-circular>
    </v-overlay>
    <dashboard>
       <v-container
        fluid
      >
        <v-row justify="center" class="title">
          Uzņēmumi
        </v-row>
        <v-row justify="center">
          <v-col 
            cols="12"
            sm="10"
            md="8">
            <v-alert type="warning" v-if="loading==false && company_list.length==0">
              Lai sāktu darbu, lūdzu pievienojiet uzņēmumu
            </v-alert>
          </v-col>
        </v-row>
        <v-row justify="center">
        <v-col 
          cols="12"
          sm="10"
          md="8">
          <v-data-table
            :headers="headers"
            :items="company_list"
            class="elevation-1"
            hide-default-footer
            no-data-text="Dati nav pieejami"
            :loading="loading" loading-text="Notiek datu ielāde..."
          ></v-data-table>
          <div class="text-left pt-2">
          <v-btn color="primary" @click="add_company=true">Pievienot</v-btn>
          </div>
        </v-col>
        </v-row>
        <v-dialog v-model="add_company" width="600px">
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Pievienot uzņēmumu</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-alert type="error" v-if="errors.length>0">
                  <v-row v-for="e in errors" :key="e">{{e}}</v-row>
                </v-alert>
                <v-form>
                  <v-text-field
                    label="Uzņēmuma nosaukums"
                    type="text"
                    maxlength="35"
                    v-model="company_name"
                    required
                  />
                  <v-text-field
                    label="Reģistrācijas numurs"
                    type="text"
                    maxlength="25"
                    v-model="regno"
                    required
                  />
                  <v-text-field
                    label="Juridiskā adrese"
                    type="text"
                    maxlength="75"
                    v-model="legal_address"
                    required
                  />
                  <v-text-field
                    label="PVN maksātāja numurs (ja ir)"
                    type="text"
                    maxlength="20"
                    v-model="vatno"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="error" @click="add_company=false">Aizvērt</v-btn>
                <v-btn color="primary" @click="addCompany">Pievienot</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>
      </v-container>
    </dashboard>
  </v-app>
</template>

<script>
  import Dashboard from './Dashboard.vue'
  
  const axios = require('axios').default;
  export default {
    props: {
      source: String,
    },
    components: {
        'dashboard': Dashboard
    },
    created () {
      var token = localStorage.getItem("tokens");
      if (token == 'null'){
         this.$router.push('Login');
      } else {
         this.tokens = JSON.parse(token);
      }
      this.loader = false;
      this.loadCompanyList();
    },
    data: () => ({
      tokens: {},
      errors: [],
      loader: true,
      loading: false,
      company_list: [],
      add_company: false,
      headers: [
        {text: "Nosaukums", value: 'company' },
        {text: "Reģ.Nr.", value: 'regno' },
        {text: "Adrese", value: 'legal_address' }
      ],
      company_name: "",
      regno: "",
      legal_address: "",
      vatno: ""
    }),
    methods: {
      loadCompanyList(){
        //uzņēmumu saraksta ielāde
        this.loading = true;
        let self = this;
        axios.get('/api/company/',{
            headers: {
              'Authorization': 'Bearer ' + this.tokens["accessToken"]
            }
          })
          .then((response)=> {
            self.company_list = response.data.data;
            localStorage.setItem("company_list", JSON.stringify(response.data.data));
          })
          .catch(
            ()=>{
              //kļūda saņemot datus
              //todo: nepieciešama apstrāde
            }
          )
          .finally(()=>{
            self.loading = false;
          });
      },
      addCompany(){
        //jauna uzņēmuma pievienošana
        this.errors = [];
        if (this.company_name.length <=5){
          this.errors.push("Nav norādīts uzņēmuma nosaukums");
        }
        if (this.regno.length <=5){
          this.errors.push("Nav norādīts uzņēmuma reģistrācijas numurs");
        }
        if (this.legal_address.length <=5){
          this.errors.push("Nav norādīts uzņēmuma adrese");
        }
        if (this.errors.length > 0){
          return false;
        }
        this.loader = true;
        var formData = new FormData();
        formData.append("company", this.company_name);
        formData.append("regno", this.regno);
        formData.append("legal_address", this.legal_address);
        formData.append("vat_id", this.vatno);
        let self = this;
        axios.post('/api/company/add/', 
            formData,
            { headers: {
             'Authorization': 'Bearer ' + this.tokens["accessToken"]
            }
          })
          .then(()=> {
            self.add_company = false;
            self.loadCompanyList();

          })
          .catch(error => {
            self.errors.push(error.response.data.message);
          })
          .finally(()=>{
            self.loader = false;
          });
      }
    }
  }
</script>

