<template>
  <v-app id="docs">
    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      app
    >
      <v-list dense>
        <template v-for="item in items">
          <v-row
            v-if="item.heading"
            :key="item.heading"
            align="center"
          >
            <v-col cols="6">
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-col>
            <v-col
              cols="6"
              class="text-center"
            >
              <a
                href="#!"
                class="body-2 black--text"
              >EDIT</a>
            </v-col>
          </v-row>
          <v-list-group
            v-else-if="item.children"
            :key="item.text"
            v-model="item.model"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon=""
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>
                  {{ item.text }}
                </v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list-item
              v-for="(child, i) in item.children"
              :key="i"
              link
            >
              <v-list-item-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{ child.text }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
          <v-list-item
            v-else
            :key="item.text"
            link
            :to="item.link"
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="primary"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title
        style="width: 300px"
        class="ml-0 pl-4"
      >
        <span class="hidden-sm-and-down">Dokumenti</span>
      </v-toolbar-title>
      <v-spacer />
      <v-menu
        offset-y
        
      >
      <template v-slot:activator="{ on }">
      <v-btn
        icon
        large
        v-on="on">
        <v-avatar tile
          size="32px"
          >
          <v-img
            src="@/assets/aktivs_logo.jpg"
            alt="Aktīvs"
          /></v-avatar>
      </v-btn>
      </template>
      <v-list>
        <v-list-item>
          <v-list-item-title><v-btn text to="/add_company">Pievienot uzņēmumu</v-btn></v-list-item-title>
        </v-list-item>
        <v-list-item>
          <v-list-item-title><v-btn text to="/logout">Beigt darbu</v-btn></v-list-item-title>
        </v-list-item>
      </v-list>
      </v-menu>
    </v-app-bar>
    <v-content>
      <slot></slot>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    props: {
      source: String
    }, 
    data: () => ({
      dialog: false,
      drawer: null,
      items: [
        { icon: 'mdi-format-list-bulleted', text: 'Saraksts', link: '/list' },
        { icon: 'mdi-cloud-upload', text: 'Failu augšupielāde', link: '/upload'}
      ]
    }),
  }
</script>
