<template>
  <v-app id="documentList">
    <v-overlay :value="loader">
          <v-progress-circular indeterminate color="white"></v-progress-circular>
    </v-overlay>
    <dashboard>
        <v-container
        fluid>
        <v-row justify="center" class="title">
          Saraksts
        </v-row>
        <v-row justify="center" align="center">
          <v-col 
          cols="12"
          sm="6"
          md="3">
          <v-select
          :items="company_list"
          item-text="company"
          item-value="regno"
          v-model="company_selected"
          label="Uzņēmums"
          dense
          outlined
        ></v-select>
        </v-col>

      <v-col cols="12" sm="2" md="3">
            <v-menu
              :close-on-content-click="true"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="date"
                  label="Periods no"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="date"></v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="12" sm="2" md="3">
            <v-menu
              :close-on-content-click="true"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="date2"
                  label="Periods līdz"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="date2"></v-date-picker>
            </v-menu>
          </v-col>  
            <v-col cols="4" sm="2" md="2">
              <v-btn color="primary" @click="loadDocumentList"><v-icon left>mdi-refresh</v-icon>Atlasīt</v-btn>
            </v-col>
        </v-row>
        <v-row>
          <v-col>
          <v-data-table
            :headers="headers"
            :items="document_list"
            class="elevation-1"
            :loading="loading" loading-text="Notiek datu ielāde..."
            no-data-text="Dati nav pieejami"
            no-results-text="Nekas netika atlasīts"
            v-model="selected_rows"
            show-select
          >
          
          <template v-slot:item.filename="{ item }">
            {{ item.filename }}
            <v-tooltip right> 
              <template v-slot:activator="{ on }">
                <v-btn 
                  color="secondary" tile icon x-small dark 
                  @click="getFile(item.id, item.filename, 'download')" 
                  v-on="on">
                    <v-icon>mdi-download</v-icon>
                </v-btn>
              </template>
              <span>Lejpielādēt failu</span>
            </v-tooltip>
          </template>
          <template v-slot:item.status="{ item }">
            <v-chip :color="getColorByStatus(item.status)" dark>{{ getStatusText(item.status) }}</v-chip>
          </template>
          <template v-slot:item.actions="{ item }">
            <div align="right">
              <v-btn class="ma-2" small 
                color="primary"
                @click="getFile(item.id, item.filename, 'json')" 
                :disabled="item.status!=1">
                <v-icon left>mdi-download</v-icon> Dati (json)
              </v-btn>
            
              <v-btn color="error" icon @click="deleteConfirm(item.id,item.filename)">
              <v-icon>mdi-delete</v-icon></v-btn>
            </div>
          </template>
          </v-data-table>

          </v-col>
        </v-row>
        
        <v-row align="center">
          <v-spacer></v-spacer>
          <v-col cols="12" sm="2" md="3">
            <v-combobox
              v-model="download_option_selected"
              :items="download_options"
              label="Datu tips"
              :disabled="!selected_rows.length>0"
            ></v-combobox>
          </v-col>
          <v-col cols="12" sm="2" md="2">
            <v-btn color="primary" small @click="downloadSelected" text :disabled="!selected_rows.length>0">
              <v-icon left>mdi-download</v-icon>Lejupielādēt atzīmētos</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </dashboard>
    <v-snackbar
      color="error"
      v-model="msg_snackbar"
    >
      {{ msg_snackbar_text }}
      <v-btn
        dark
        text
        @click="msg_snackbar = false"
      >
        Aizvērt
      </v-btn>
    </v-snackbar>
    <v-dialog v-model="show_json_dialog" scrollable max-width="700px">
      <v-card>
        <v-card-title>JSON dati</v-card-title>
        <v-card-text>
           <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">Lauks</th>
                  <th class="text-left">Vērtība</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Partneris</td>
                  <td>{{ json_data.partner }}</td>
                </tr>
                <tr>
                  <td>Dokumenta numurs</td>
                  <td>{{ json_data.document_number }}</td>
                </tr>
                <tr>
                  <td>Dokumenta datums</td>
                  <td>{{ json_data.document_date }}</td>
                </tr>
                <tr>
                  <td>Kopējā summa</td>
                  <td>{{ json_data.total_sum }}</td>
                </tr>
                <tr>
                  <td>Visi metadati</td>
                  <td>
                    <v-textarea 
                      v-model="json_data_as_string"
     
                      readonly
                    >
                      <template>
                        <div>
                          Metadati
                        </div>
                      </template>
                    </v-textarea>

                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary darken-1" text @click="show_json_dialog = false">Aizvērt</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row justify="center">
      <v-dialog v-model="delete_confirm" persistent max-width="290">
        <v-card>
          <v-card-title class="headline" color="red">Dzēst?</v-card-title>
          <v-card-text>Vai tiešām dzēst <b>{{ delete_file.filename }}</b>?</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="delete_confirm = false">Atcelt</v-btn>
            <v-btn color="error darken-1" @click="deleteSelected">Dzēst</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-app>
</template>

<script>
  import Dashboard from './Dashboard.vue'
  
  const axios = require('axios').default;
  const FileDownload = require('js-file-download');

  export default {
    props: {
      source: String,
    },
    components: {
        'dashboard': Dashboard
    },
    data: () => ({
      tokens: {},
      headers: [
        {text: "Faila nosaukums", value: 'filename' },
        {text: "Augšupielādes datums", value: 'date' },
        {text: "Statuss", value: 'status' },
        {text: "", value: 'actions' }
      ],
      document_list: [],
      loader: false,
      loading: false,
      date: "",
      date2: "",
      company_list: "",
      company_selected: "",
      msg_snackbar: false,
      msg_snackbar_text: "",
      show_json_dialog: false,
      json_data: {},
      json_data_as_string:"",
      selected_rows: [],
      download_options: ['JSON'],  //datu tipi kādus iespējams lejupielādēt
      download_option_selected: 'JSON', //noklusētais datu tips lejupielādei
      delete_confirm: false,
      delete_file: {}
    }),
    created () {
      var token = localStorage.getItem("tokens");
      if (token == 'null'){
         this.$router.push('Login');
      } else {
         this.tokens = JSON.parse(token);
      }
      var today = new Date();
      var dd = String(today.getDate()).padStart(2, '0');
      var mm = String(today.getMonth() + 1).padStart(2, '0');
      var yyyy = today.getFullYear();
      today = yyyy + '-' + mm + '-' + dd;
      this.date = today;
      this.date2 = today;
      this.company_list = JSON.parse(localStorage.getItem("company_list"));
      if (this.company_list.length==0){
        this.$router.push('add_company');
      } else if (this.company_list.length==1) {
        this.company_selected = this.company_list[0]["regno"];
      }
      var company_selected = localStorage.getItem("company_selected");
      if (company_selected!=null){
        this.company_selected = company_selected;
        this.loadDocumentList();
      }
    },
    watch: {
      company_selected: function(val){
        localStorage.setItem("company_selected", val);
        this.loadDocumentList();
      }
    },
    methods: {
      loadDocumentList(){
        //dokumentu saraksta ielāde
        this.loading = true;
        let self = this;
        var url = '/api/document/'+this.company_selected+"/list?date_from=" + 
              this.date + "&date_to=" + this.date2;

        axios.get(url,{
            headers: {
              'Authorization': 'Bearer ' + this.tokens["accessToken"]
            }
          })
          .then((response)=> {
            self.document_list = response.data.list;

          })
          .catch(
            error =>{
              if (error.response.data.code=="AUT_02"){
                self.$router.push("Login")
              }
            }
          )
          .finally(()=>{
            self.loading = false;
            
          });
      },
      getFile(file_id, filename, action){
        //ieejas vai rezultātu faila lejupielāde
        var url = '/api/document/'+this.company_selected+"/"+file_id;
        var responseType = "";
        if (action == 'download'){
          //ieejas faila lejupielādes url
          url = url + "/download";
          responseType = "blob";
        } else if (action == "json"){
          responseType = "application/json";
        }
        this.loader = true;
        let self = this;
        axios.get(url,{
            headers: {
              'Authorization': 'Bearer ' + this.tokens["accessToken"]
            },
            responseType: responseType
          })
          .then((response)=> {
            if (action=='download'){
              FileDownload(response.data, filename);
            } else {
              self.json_data = response.data.data;
              this.jsonToString();
              self.show_json_dialog = true;
            }
          })
          .catch(
            ()=>{
              //kļūda saņemot datus
              //todo: nepieciešama apstrāde
              self.msg_snackbar_text = "Fails nav pieejams";
              self.msg_snackbar = true;
            }
          )
          .finally(()=>{
            self.loader = false;
          });
      },
      getColorByStatus(status){
        //atgriež satusam piemērotu krāsu
        if (status == 1) {
          return "primary";
        } else if (status==0) { 
          return "orange";
        } else {
          return "red";
        }
      },
      getStatusText(status){
        //statusa ID pārveidošana par tekstu
        if (status == 1) {
          return "Pabeigts";
        } else if (status==0) { 
          return "Procesā";
        } else {
          return "Kļūda";
        }
      },
      jsonToString(){
        //JSON datu atgriešana teksta formātā
        //t.sk. JSON datu formatēšana
        var json_string = JSON.stringify(this.json_data);
        this.json_data_as_string = JSON.stringify(JSON.parse(json_string),null,2);  
      },
      downloadSelected(){
        //atzīmēto ierakstu datu lejupielāde
        var doc_id = "";
        this.selected_rows.forEach(function(row){
          if (doc_id.length>0){
            doc_id += ",";
          }
          doc_id += row.id;
        });
        this.loader = true;
        let self = this;
        var url = '/api/document/'+this.company_selected+"/";
        axios.get(url+'?id='+doc_id,{
            headers: {
              'Authorization': 'Bearer ' + this.tokens["accessToken"]
            },
            responseType: 'blob'
          })
          .then((response)=> {
            if (self.download_option_selected=="JSON"){
              var filename = 'data.json';
            }
            FileDownload(response.data, filename);
          })
          .catch(
            error=>{
              //kļūda saņemot datus
              //todo: nepieciešama apstrāde
              self.msg_snackbar_text = "Kļūda saņemot datus ("+error.response.message+")";
              self.msg_snackbar = true;
            }
          )
          .finally(()=>{
            self.loader = false;
          });
      },
      deleteConfirm(id, filename){
        //dzēšanas apstiprinājuma apstrāde
        this.delete_file = {
            "id": id,
            "filename": filename
          };
        this.delete_confirm = true;
      },
      deleteSelected(){
        //datu dzēšana
        this.delete_confirm = false;
        this.loader = true;
        let self = this;
        var url = '/api/document/'+this.company_selected+"/"+this.delete_file["id"];
        axios.delete(url, 
                { headers: {
                  'Authorization': 'Bearer ' + this.tokens["accessToken"]
                }
            })
            .then(()=> {
                self.msg_snackbar_text = "Dati veiksmīgi izdzēsti";
                self.msg_snackbar_color = "success";
                self.msg_snackbar = true;
                self.files = [];
                for (var i = 0; i < this.document_list.length; i++){
                  if (this.document_list[i]["id"]==this.delete_file["id"]){
                    this.document_list.splice(i, 1);
                    break;
                  }
                }
            })
            .catch(error => {
                self.msg_snackbar_text = "Datu dzēšana neizdevās ("+error.message+")";
                self.msg_snackbar_color = "error";
                self.msg_snackbar = true;
            })
            .finally(()=>{
                self.loader = false;
            });
      }
    }
  }
</script>
