<template>

  <v-app id="login">
        <v-overlay :value="loader">
          <v-progress-circular indeterminate color="white"></v-progress-circular>
        </v-overlay>

    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="10"
            md="8"
            style="max-width:680px;"
          > 
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Ienākt sistēmā</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-alert type="error" v-if="errors.length>0">
                  <v-row v-for="e in errors" :key="e">{{e}}</v-row>
                </v-alert>
              <v-row>
              <v-col cols="3">
              <v-img 
                src="@/assets/logo.png"
                  max-height=150
                  max-width=150
                  aspect-ratio=1
                ></v-img>
              </v-col>
                <v-col cols="9">
                <v-form>
                  <v-text-field
                    label="Lietotāja vārds"
                    name="username"
                    prepend-icon="mdi-account"
                    type="text"
                    v-model="username"
                    required
                  />

                  <v-text-field
                    id="password"
                    label="Parole"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                    v-model="password"
                    v-on:keyup.enter="login"
                    required
                  />
                </v-form>
                </v-col>
                </v-row>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" v-on:click="login">Ienākt</v-btn>
              </v-card-actions>
            </v-card>
            <br>
            <p class="text--secondary text-center">Neesi reģistrējies? <router-link to="/signup">Reģistrējies</router-link></p>
          </v-col>
        </v-row>

      </v-container>

    </v-content>
  </v-app>
</template>

<script>
//pieteikšanās sistēmā
  const axios = require('axios').default;
  export default {
    props: {
      source: String,
    },
    data () {
      return {
        username: "",
        password: "",
        errors: [],
        loader: true,
        tokens: {}
      }
    },
    created (){
      this.username = "";
      this.password = "";
      this.errors = [];
      this.checkTokens();
    },
    methods: {
      checkTokens(){
        //saglabāto piekļuves pilnvaru pārbaude
        if (localStorage.tokens){
          this.tokens = JSON.parse(localStorage.getItem("tokens"));
          this.checkToken();
        } else {
          this.loader = false;
        }
      },
      login(){
        //pieteikšanās sistēmā
        this.errors = [];
        if (this.username == ""){
          this.errors.push("Nav norādīts lietotāja vārds");
          return false;
        } else if (this.username.length<5){
          this.errors.push("Lietotāja vārds norādīts nepareizi");
          return false;
        } else if (this.password == ""){
          this.errors.push("Nav norādīta parole");
          return false;
        }
        this.loader = true;
        var formData = new FormData();
        formData.append("username", this.username);
        formData.append("password", this.password);
        let self = this;
        axios.post('/api/login/', formData)
          .then(response=> {
            self.tokens = response.data;
            localStorage.setItem("tokens", JSON.stringify(response.data));
            self.loadCompanyList();
          })
          .catch(error => {
            if (error.response.data.code == "USR_01"){
              self.errors.push("Lietotāja vārds vai parole ir nepareiza");
            } else if ("message" in error.response.data ) {
              self.errors.push(error.response.data.message);
            } else {
              self.errors.push("Pieteikšanās neizdevās. Lūdzu mēģiniet vēlreiz.");
            }
          })
          .finally(()=>{
            self.loader = false;
          });
      },
      checkToken(){
        //piekļuves pilnvaras pārbaude
        let self = this;
        axios.get('/api/user/',{
            headers: {
              'Authorization': 'Bearer ' + this.tokens["accessToken"]
            }
          })
          .then(()=> {
            self.loadCompanyList();
          })
          .catch(
            ()=>{
              //piekļuves pilnvara nav derīga, mēģinām atjaunot piekļuvi
              self.refreshToken();
            }
          );
      },
      refreshToken(){
        //piekļuves pilnvaras atjaunošana
        let self = this;
        var formData = new FormData();
        formData.append("token", this.tokens["refreshToken"]);
        axios.post('/api/token/refresh/', formData)
          .then(response=> {
            self.tokens = response.data;
            localStorage.setItem("tokens", JSON.stringify(response.data));
            self.loadCompanyList();
          })
          .catch(() => {
            localStorage.removeItem("tokens");
          })
          .finally(()=>{
            self.loader = false;
          });
      },
      loadCompanyList(){
        //uzņēmumu saraksta ielāde
        this.loader = true;
        let self = this;
        axios.get('/api/company/',{
            headers: {
              'Authorization': 'Bearer ' + this.tokens["accessToken"]
            }
          })
          .then((response)=> {
            localStorage.setItem("company_list", JSON.stringify(response.data.data));
            if (response.data.data.length == 0){
              this.$router.push('add_company');
            } else {
              this.$router.push('List');
            }
          })
          .finally(()=>{
            self.loader = false;
          });
      }
    }
  }
</script>
