<template>
  <v-app id="logout">
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          > 
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Lūdzu uzgaidiet...</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
              <v-row>
                <v-col cols="12">
                  <v-progress-linear
                    color="primary"
                    indeterminate
                    rounded
                    height="6"
                  ></v-progress-linear>
                </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  /* Atteikšanās no sistēmas */
  const axios = require('axios').default;
  export default {
    props: {
      source: String,
    },
    data () {
      return {

      }
    },
    created (){
      if (localStorage.tokens){
          var tokens = JSON.parse(localStorage.getItem("tokens"));
          this.logout(tokens);
        } else {
          this.loader = false;
        }
    },
    methods: {
        logout(tokens){
          axios.post('/api/logout/',[], {
              headers: {
                'Authorization': 'Bearer ' + tokens["accessToken"]
              }
            })
            .then(()=> {
              //piekļuves pilnvaras izdzēšana no atmiņas
              localStorage.clear();
              this.$router.push('Login');
            })
            .finally(
              ()=>{
                localStorage.clear();
                this.$parent.tokens = {};
                this.$router.push('Login');
              }
            );
        }
    }
  }
</script>
