<template>
  <v-app id="docs">
    <v-overlay :value="loader">
          <v-progress-circular indeterminate color="white"></v-progress-circular>
        </v-overlay>
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12" v-if="!step2">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Reģistrēties</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-alert type="error" v-if="errors.length>0">
                  <v-row v-for="e in errors" :key="e">{{e}}</v-row>
                </v-alert>
                <v-form>
                  <v-text-field
                    label="Lietotāja vārds"
                    v-model="username"
                    prepend-icon="mdi-account"
                    type="text"
                    maxlength="30"
                    required
                  />
                  <v-text-field
                    label="Vārds"
                    v-model="first_name"
                    prepend-icon="mdi-account"
                    type="text"
                    maxlength="30"
                    required
                  />
                  <v-text-field
                    label="Uzvārds"
                    v-model="last_name"
                    prepend-icon="mdi-account"
                    type="text"
                    maxlength="150"
                    required
                  />
                  <v-text-field
                    label="E-pasta adrese"
                    v-model="email"
                    prepend-icon="mdi-email"
                    type="email"
                    maxlength="150"
                    required
                  />
                  <v-text-field
                    label="Parole"
                    v-model="password_1"
                    prepend-icon="mdi-lock"
                    type="password"
                    required
                  />
                  <v-text-field
                    label="Parole (atkārtoti)"
                    v-model="password_2"
                    prepend-icon="mdi-lock"
                    type="password"
                    required
                  />
                  <v-checkbox
                    v-model="disclaimer"
                    :rules="[v => !!v || 'Ja vēlies turpināt, tad noteikumiem ir jāpiekrīt!']"
                    required
                    name="terms_accepted"
                    value="1"
                  >
                  <span slot="label">
                    <v-text 
                      class="secondary--text text--darken-1" 
                      @click="dialog_disclaimer = !dialog_disclaimer">
                        Lietošanas noteikumus
                    </v-text> 
                      esmu izlasījis un tiem piekrītu</span>
                  </v-checkbox>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" @click="signup">Reģistrēties</v-btn>
              </v-card-actions>
            </v-card>
            <v-card class="elevation-12" v-if="step2">
                <v-toolbar
                  color="primary"
                  dark
                  flat
                >
                <v-toolbar-title>Apstiprināt e-pastu</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-alert type="success" color="primary">
                  <v-row>Lai pabeigtu reģistrāciju, ievadiet kodu, kurš tika nosūtīts uz e-pastu</v-row>
                </v-alert>
                <v-alert type="error" v-if="code_errors.length>0">
                  <v-row v-for="e in code_errors" :key="e">{{e}}</v-row>
                </v-alert>
                <v-form>
                  <v-text-field
                    label="Verifikācijas kods"
                    v-model="verification_code"
                    prepend-icon="mdi-blur"
                    type="text"
                    maxlength="30"
                    v-on:keyup.enter="verifySignup"
                    required
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" @click="verifySignup">Apstiprināt</v-btn>
              </v-card-actions>
            </v-card>
            <br>
            <p class="text--secondary text-center" v-if="!step2">Esi reģistrējies? <router-link to="/login">Ienāc</router-link></p>
          </v-col>
          <v-dialog v-model="dialog_disclaimer" width="600px">
            <v-card>
              <v-card-title>
                <span class="headline">Lietojumprogrammas lietošanas noteikumi</span>
              </v-card-title>
              <v-card-text>
              Ar lietojumprogrammas lietošanas noteikumiem varat iepazīties 
                <a href="https://algas.aktivs.lv/terms_and_conditions/" target="_blank">šeit</a>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="dialog_disclaimer = false">Aizvērt</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
      </v-container>
    </v-content>
  </v-app>

</template>



<script>
  /* reģistrācija sistēmā */
  const axios = require('axios').default;
  export default {
   data () {
      return {
        dialog_disclaimer: false,
        errors: [],
        disclaimer: false,
        username: "",
        first_name: "",
        last_name: "",
        email: "",
        password_1: "",
        password_2: "",
        step2: false,
        verification_code: "",
        code_errors: [],
        loader: false
        }
      },
    props: {
      source: String,
    },
    created (){
      /* tiek akceptētas tiešās saites - ja ?verify=true, tad tiek novirzīts uz koda ievadi */
      if ('verify' in this.$route.query && this.$route.query.verify == 'true'){
        this.step2 = true;
      }
      /* ja tiek padota saite ar parametriem, tad lauki tiek aizpildīti */
      if ('username' in this.$route.query && 'code' in this.$route.query){
        this.username = this.$route.query.username;
        this.verification_code = this.$route.query.code;
      }
    },
    methods: { 
      signup() {
        //pārbaudām ievadparametrus
        this.errors = [];
        if (this.username.length <= 5){
          this.errors.push("Nav norādīts lietotāja vārds");
        }
        if (this.first_name.length <= 3){
          this.errors.push("Nav norādīts vārds");
        }
        if (this.last_name.length <= 2){
          this.errors.push("Nav norādīts uzvārds");
        }
        if (this.email.length <= 5){
          this.errors.push("Nav norādīta e-pasta adrese");
        }
        if (this.password_1.length == 0){
          this.errors.push("Nav norādīta parole");
        } else if (this.password_1.length < 8){
          this.errors.push("Parole ir pārāk īsa (minimālais garums 8 zīmes)");
        } else if (this.password_1 != this.password_2){
          this.errors.push("Parole atkārtota nepareizi");
        }
        if (this.disclaimer != 1){
          this.errors.push("Nepieciešams iepazīties un piekrist lietošanas noteikumiem");
        }
        if (this.errors.length > 0){
          return false;
        }
        //kļūdas nav konstatētas, turpinām reģistrācijas procesu
        this.loader = true;
        var formData = new FormData();
        formData.append("username", this.username);
        formData.append("first_name", this.first_name);
        formData.append("last_name", this.last_name);
        formData.append("email", this.email);
        formData.append("password", this.password_1);
        formData.append("password_2", this.password_2);
        formData.append("terms_accepted", 1);
        let self = this;
        axios.post('/api/signup/', formData)
          .then(()=> {
            self.step2 = true;
          })
          .catch(error => {
            self.errors.push(error.response.data.message);
          })
          .finally(()=>{
            self.loader = false;
          });
      },
      verifySignup(){
        //reģistrācijas verifikācija
        this.code_errors = [];
        if (this.verification_code.length == 0){
          this.code_errors.push("Nav norādīts verifikācijas kods");
          return false;
        }
        this.loader = true;
        let self = this;
        axios.get('/api/signup/validate?code='+this.verification_code+'&username='+this.username)
          .then(response=> {
            localStorage.setItem("tokens", JSON.stringify(response.data))
            self.$router.push('Login');
          })
          .catch(error => {
            if (error.response.data.code=="ERR_01"){
              self.code_errors.push("Kods nav pareizs");
            } else{
              self.code_errors.push(error.response.data.message);
            }
          })
          .finally(()=>{
            self.loader = false;
          });
      }
    }
  }
</script>
