<template>
  <v-app id="documentList">
      
    <v-overlay :value="loader">
          <v-progress-circular indeterminate color="white"></v-progress-circular>
    </v-overlay>
    <dashboard>
        <v-container
        fluid>
        
        <v-row justify="center" class="title">
          Failu augšupielāde
        </v-row>
        
        <v-row justify="center">
         <v-col 
          cols="12"
          sm="11"
          md="11">
          <v-alert type="info" outlined>
                Maksimālais failu kopējais izmērs ir 2 MB.
            </v-alert>
          </v-col>
        </v-row>
        <v-row justify="center" align="center">
          <v-col 
          cols="12"
          sm="6"
          md="3">
          <v-select
          :items="company_list"
          item-text="company"
          item-value="regno"
          v-model="company_selected"
          label="Uzņēmums"
          dense
          outlined
        ></v-select>
        </v-col>

      <v-col cols="12" sm="4" md="6">
          <v-file-input 
            v-model="files"
            multiple 
            accept=".jpg,.jpeg,.pdf,image/jpeg,application/pdf"
            show-size
            counter
            label="Datnes">
                <template v-slot:selection="{ text }">
                    <v-chip
                        small
                        label
                        color="primary"
                    >
                        {{ text }}
                    </v-chip>
                </template>
            </v-file-input>
          </v-col>  
          <v-col cols="4" sm="2" md="2">
            <v-btn color="primary" @click="uploadFiles">
                <v-icon left>mdi-upload</v-icon>Augšupielādēt
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </dashboard>
    <v-snackbar
      :color="msg_snackbar_color"
      v-model="msg_snackbar">
      {{ msg_snackbar_text }}
      <v-btn
        dark
        text
        @click="msg_snackbar = false"
      >
        Aizvērt
      </v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
  import Dashboard from './Dashboard.vue'
  
  const axios = require('axios').default;

  export default {
    props: {
      source: String,
    },
    components: {
        'dashboard': Dashboard
    },
    data: () => ({
      tokens: {},
      loader: false,
      company_list: "",
      company_selected: "",
      msg_snackbar: false,
      msg_snackbar_text: "",
      msg_snackbar_color: "",
      files: [],
      max_upload_size: 2 * 1024 * 1024  //
    }),
    created () {
      var token = localStorage.getItem("tokens");
      if (token == 'null'){
         this.$router.push('Login');
      } else {
         this.tokens = JSON.parse(token);
      }
      this.company_list = JSON.parse(localStorage.getItem("company_list"));
      if (this.company_list.length==0){
        this.$router.push('add_company');
      }
      var company_selected = localStorage.getItem("company_selected");
      if (company_selected!=null){
        this.company_selected = company_selected;
      }
    },
    watch: {
      company_selected: function(val){
        localStorage.setItem("company_selected", val);
      }
    },
    methods: {
        uploadFiles(){
            //failu augšupielāde           
            if (this.files.length==0){
                this.msg_snackbar_text = "Nav izvēlēts neviens fails";
                this.msg_snackbar_color = "error";
                this.msg_snackbar = true;
                return false;
            }
            //pārbaudam kopējo augšupielādes failu izmēru
            var total_size = 0;
            this.files.forEach(function(f){
                    total_size += f.size;
                }
            );
            if (total_size > this.max_upload_size){
                this.msg_snackbar_text = "Pārsniegts maksimālais augšupielādes izmērs (Faktiski: " +
                        (total_size/1024/1024).toFixed(2)+
                         " MB/limits: "+ (this.max_upload_size/1024/1024).toFixed(2)+" MB)";
                this.msg_snackbar_color = "error";
                this.msg_snackbar = true;
                return false;
            }
            //sākam augšupielādi
            var formData = new FormData();
            for (var i = 0; i<this.files.length;i++){
                formData.append('file', this.files[i]);
            }
            var url = '/api/document/'+this.company_selected+"/";
            let self = this;
            this.loader = true;
            axios.post(url, 
                formData,
                { headers: {
                'Authorization': 'Bearer ' + this.tokens["accessToken"],
                'Content-Type': 'multipart/form-data'
                }
            })
            .then(()=> {
                self.msg_snackbar_text = "Augšupielāde veiksmīga";
                self.msg_snackbar_color = "success";
                self.msg_snackbar = true;
                self.files = [];
            })
            .catch(error => {
                self.msg_snackbar_text = "Augšupielāde neizdevās ("+error.message+")";
                self.msg_snackbar_color = "error";
                self.msg_snackbar = true;
            })
            .finally(()=>{
                self.loader = false;
            });
        }
    }
  }
</script>
