{% load render_bundle from webpack_loader %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <title>"Aktīvs" dokumenti</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
  </head>
  <body>
    <noscript>
      <strong>JavaScript not enabled, please enable it to continue.</strong>
    </noscript><div id="app">
     <app></app>
 </div>{% render_bundle 'app' %}<!-- built files will be auto injected -->
  </body>
</html>